<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="telligentCommunityGroup">
      <section name ="telligentCommunitySDK"
               type="Telligent.Rest.SDK.Configuration.TelligentConfigurationSection, Telligent.Rest.SDK"
               allowLocation="true"
               allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <telligentCommunityGroup>
    <telligentCommunitySDK
          oauthCallbackUrl="~/oauth.ashx"
          oauthClientId="987654321"
          oauthSecret = "98765432123456789"
          communityRootUrl="http://trunk.local.com/"
          enableSSO="true"
          useLocalAuthentication="true"
          networkUsername="networkuser"
          networkPassword="password"
          networkDomain="domain"
          synchronizationCookieName="cookie"
          membershipAdministrationUsername="adminuser"
          defaultLanguage="en-GB"
          anonymousUsername="anonuser"
      >
      <add name="default" id="2aaf38a9-d0ae-4af7-b581-4389dc9be6a9" />
      <add name="site2" id="3aaf38a9-d0ae-4af7-b581-4389dc9be6a9" />
      <add name="site3" id="4aaf38a9-d0ae-4af7-b581-4389dc9be6a9"
          oauthCallbackUrl="~/site3/oauth.ashx"
          oauthClientId="123456789"
          oauthSecret = "123456789876543212345678987654321"
          communityRootUrl="http://site3/"
          enableSSO="false"
          useLocalAuthentication="false"
            networkUsername="networkuser2"
          networkPassword="password2"
          networkDomain="domain2"
          synchronizationCookieName="cookie2"
          membershipAdministrationUsername="adminuser2"
          defaultLanguage="fr-fr"
          anonymousUsername="anonuser2"/>
    </telligentCommunitySDK>
    
    
  </telligentCommunityGroup>
  
</configuration>