<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="telligentCommunityGroup">
      <section name ="telligentCommunitySDK"
               type="Telligent.Rest.SDK.Configuration.TelligentConfigurationSection, Telligent.Rest.SDK"
               allowLocation="true"
               allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <telligentCommunityGroup>
    <telligentCommunitySDK
          oauthCallbackUrl="~/oauth.ashx"
          oauthClientId="e5bd8f4b-bdb1-4829-a56d-ec608a56c3de"
          oauthSecret = "619e9542ad0947cfa9e950263b6b979856b7f376633d451b9952b1048ce8cd95"
          communityRootUrl="http://trunk.local.com/"
          enableSSO="true"
          useLocalAuthentication="true"
      >
      <add name="default" id="2aaf38a9-d0ae-4af7-b581-4389dc9be6a9" />
      <add name="site2" id="3aaf38a9-d0ae-4af7-b581-4389dc9be6a9" />
      <add name="site3" id="4aaf38a9-d0ae-4af7-b581-4389dc9be6a9" />
    </telligentCommunitySDK>
    
    
  </telligentCommunityGroup>
  
</configuration>