<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="communityUrl" value="http://localhost" />
    <add key="defaultUsername" value="admin" />
    <add key="clientId" value="d02de5c9-3c5b-4059-b7f8-28f6ccbd21a1" />
    <add key="clientSecret" value="e3089b2b336741788e2d07f00fe5c22345d08fa70919499abe13e1ff17ca97ec" />
  </appSettings>
  <!--<system.net>
    <defaultProxy>
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>-->
</configuration>