<?xml version="1.0" encoding="utf-8" ?>
<communityServerHosts>
  <host name="default" communityServerUrl="[Your Community Url">
    <oauth clientId="[Enter Oauth Client Id From Community]" 
           clientSecret="[Enter Oauth Client Secret From Community]" 
           callbackUrl="~/oauth.ashx" 
           cookieName="evoUser"
           defaultLanguage="en-US"
           anonymousUsername="Anonymous">
      <localAuthentication enabled ="true" membershipAdministrationUsername="admin" userResolver="">
       
      </localAuthentication>
    </oauth>
    <sso enabled="true" synchronizationCookieName="EvolutionSync" />
    <remoteProxy enabled="true" callbackUrl="~/proxy.ashx" />
  </host>
</communityServerHosts>